body {
    background-color: #E8ECEF;
}

span.logout {
    display: inline; /* the default for span */
    padding: 15px;
}

div.logout {
    padding: 15px;
}

div.addTask {
    padding: 25px;
}

.login-text {
    text-align: right;
    font-size: 1.2rem;
    color: #343a40;
    border-inline-end-width: 20;
    /* background-color: #000; */
}  

#okta-sign-in.auth-container.main-container {
    background-color: #E8ECED;
}

#okta-sign-in .beacon-blank {
    background-color: #E8ECED;
}

#okta-sign-in.auth-container.main-container {
    border-color: #343a40;
}

#okta-sign-in.auth-container .okta-sign-in-header {
    border-bottom-color: #343a40;
}

#okta-sign-in {
    color: #343a40;
}
